/* app css stylesheet */
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
    float: left;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
}
.selectedItems{
    float: left; 
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.panel{
width: 30%;
background-color: black;
}
.form-section .custom-error {
    color:#FF0000;
}
.crawltable td{
  font-size: 15px !important;
}
.crawltable th:hover{
  cursor: pointer;
}
.not_entity h3{
  width: 60%;
margin: 3em auto;
}
span.thank {
  font-weight: bold;
  color:#e5412d;
  font-size: 25px;
}
.add_entity h1{
  margin: 1.5em 0px;
  text-align: center; 
}
.add_entity .choices a i:before{
  font-size: 4em;
}
.add_entity .choices a i{
  display: block;
}
.add_entity input{
  font-size: 20px;
  height: 45px !important;
}

.add_entity .form-horizontal .control-label {
width: 125px;
position: relative;
top: 7px;
font-size: 18px;
font-weight: lighter;
}

.add_entity .form-horizontal .form-actions {
margin-top: 0;
padding: 0;
position: relative;
left: 19%;
}

.add_entity .widget.widget-tabs-double-2 > .widget-head ul li a.glyphicons i:before{
  color: #e5412d;
  left: auto;
  top: 21px;
  font-size: 50px;
  position: relative;
}

.add_entity ul li h3{
  display: inline;
  position: relative;
  display: block;
  top:30px;
}
.add_entity ul li a{

}

.add_entity .widget.widget-tabs-double-2 > .widget-head {
height: 85px !important;
}

.add_entity .widget.widget-tabs-double-2 > .widget-head ul {
  height: 85px !important;
}

.add_entity .widget.widget-tabs-double-2 > .widget-head ul li.active {
height: 85px !important;
background: none;
}

.add_entity .widget.widget-tabs-double-2 > .widget-head ul li{
height: 85px !important;
cursor: pointer;
}

.add_entity select{
height: 45px;
font-size: 20px;
}

.logo{
  width: 200px !important;
}

/* D3js Codes */
.xchart .color0 .fill {
fill: rgba(244,244,244,0.5) !important;
}
.xchart .color0 .line {
stroke: #e5412d !important;
}
/* END D3js */


/* PRICING TABLES */
.spacer{ height: 50px; }
.no-space {margin-left:0;}
.no-space [class*="span"] {margin-left: 0; }
.row-fluid.no-space .span1 {width: 8.334% !important;}
.row-fluid.no-space .span2 {width: 16.667% !important;}
.row-fluid.no-space .span3 {width: 25% !important;}
.row-fluid.no-space .span4 {width: 33.334% !important;}
.row-fluid.no-space .span5 {width: 41.667% !important;}
.row-fluid.no-space .span6 {width: 50% !important;}
.row-fluid.no-space .span7 {width: 58.333% !important;}
.row-fluid.no-space .span8 {width: 66.666% !important;}
.row-fluid.no-space .span9 {width: 75% !important;}
.row-fluid.no-space .span10 {width: 83.334% !important;}
.row-fluid.no-space .span11 {width: 91.666% !important;}
.row-fluid.no-space .span12 {width: 100% !important;}
@media (max-width: 767px) {
.row-fluid.no-space [class*="span"] {width: auto !important;} 
}

.pricing_table .tb_header {background-color: #8AB623; }
.pricing_table .tb_header h4 { margin: 0; padding: 15px 0px; border-bottom: 3px solid #5E852C; color: white; 
font-size:20px; font-weight:700;
-webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:4px; -moz-border-top-left-radius:3px; -moz-border-top-right-radius:4px; border-top-left-radius:3px; border-top-right-radius:4px; }
.pricing_table .price { margin: 0; padding: 15px 0px; border-bottom: 2px solid white; font-size: 46px;  color: #fff; 
font-weight: 900; letter-spacing: 0px; line-height: 1; }
.pricing_table .price p:first-letter{ font-weight: 300; margin-right: 2px; font-size: 26px; }
.pricing_table .price p{ margin: 0;  }
.pricing_table .price p span{ display:block; padding:4px; font-size:14px; font-weight:500;}
.pricing_table .tb_content {margin:0; padding:0; list-style:none;}
.pricing_table .tb_content li { margin: 0; padding: 5px 0px; font-size:12px; line-height: 2;}
.pricing_table .tb_content li:nth-child(odd){ background-color: rgba(0,0,0,0.1); }
.pricing_table .tb_content li:first-child{ border-top: 1px solid white; }
.pricing_table .tb_content li:last-child{  }
.pricing_table .tb_content li hr {margin: 10px 50px;}
.pricing_table .signin {padding:15px 0 15px; background: rgba(0, 0, 0, 0.15);  border-top: 3px solid #5E852C;}
.pricing_table .pr_table_col {background:#fff; position:relative; z-index:0;
 -webkit-box-shadow:0 0 8px rgba(0,0,0,0.1); -moz-box-shadow:0 0 8px rgba(0,0,0,0.1); box-shadow:0 0 8px rgba(0,0,0,0.1);}
.pricing_table [class*="span"]:nth-child(odd) .pr_table_col {background-color: #F1F1F1; }
.pricing_table .pr_table_col.highlight {z-index:1;}
.pricing_table .pr_table_col:hover {z-index:2;}
.pricing_table .pr_table_col.highlight,
.pricing_table .pr_table_col:hover {margin-top:-15px;
 -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);}
.pricing_table .pr_table_col.highlight .tb_content li,
.pricing_table .pr_table_col:hover .tb_content li { padding: 7px 0px;}
.pricing_table .pr_table_col.highlight .price,
.pricing_table .pr_table_col:hover .price { padding: 20px 0px;}
.pricing_table .pr_table_col {-webkit-transition: -webkit-box-shadow 0.2s ease-out; -moz-transition: -moz-box-shadow 0.2s ease-out; -o-transition: -o-box-shadow 0.2s ease-out; transition: box-shadow 0.2s ease-out;}
.pricing_table .pr_table_col.caption_column {margin-top:50px;  -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
.pricing_table .pr_table_col.caption_column .tb_header {font-size:18px; padding:41px 0; color:#444; font-weight:700; border-bottom:2px solid #fff; background:#eee; text-shadow:1px 1px 0 #fff;}
.pricing_table .pr_table_col.caption_column .tb_content li {padding: 5px 0px; text-align:left; text-indent:30px; background:#eee;}
/* pricing table skins */
.pr_table_col[data-color=red] .tb_header h4 { border-bottom: 3px solid #941414;background: #cd2122 }
.pr_table_col[data-color=red] .signin { border-top: 3px solid #941414; }
.pr_table_col .signin a{background: #cd2122 ;color:white;}
.pr_table_col[data-color=red] .tb_header { background-color: #e5412d; }

.pr_table_col[data-color=light] .tb_header h4 { border-bottom: 3px solid #747474; }
.pr_table_col[data-color=light] .signin { border-top: 3px solid #747474; }
.pr_table_col[data-color=light] .tb_header { background-color: #aaa; }

.pricing_table.rounded-corners [class*="span"]:first-child .tb_header {-webkit-border-top-left-radius:5px; -moz-border-top-left-radius:5px; border-top-left-radius:5px; }
.pricing_table.rounded-corners [class*="span"]:last-child .tb_header {-webkit-border-top-right-radius:5px; -moz-border-top-right-radius:5px; border-top-right-radius:5px; }
.pricing_table.rounded-corners .pr_table_col:hover .tb_header,
.pricing_table.rounded-corners .highlight .tb_header {-webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -moz-border-top-left-radius:5px; -moz-border-top-right-radius:5px; border-top-left-radius:5px; border-top-right-radius:5px; }
.pricing_table.rounded-corners .pr_table_col:hover,
.pricing_table.rounded-corners .highlight  {-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
.pricing_table.rounded-corners .pr_table_col:hover .signin,
.pricing_table.rounded-corners .highlight .signin {-webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px; -moz-border-bottom-left-radius:5px; -moz-border-bottom-right-radius:5px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; }
.pricing_table.rounded-corners [class*="span"]:last-child .tb_header {-webkit-border-top-right-radius:5px; -moz-border-top-right-radius:5px; border-top-right-radius:5px; }
.pricing_table.rounded-corners [class*="span"]:first-child .pr_table_col,
.pricing_table.rounded-corners [class*="span"]:first-child .signin {-webkit-border-bottom-left-radius:5px; -moz-border-bottom-left-radius:5px; border-bottom-left-radius:5px; }
.pricing_table.rounded-corners [class*="span"]:last-child .pr_table_col,
.pricing_table.rounded-corners [class*="span"]:last-child .signin {-webkit-border-bottom-right-radius:5px; -moz-border-bottom-right-radius:5px; border-bottom-right-radius:5px; }


.modal.fade {
-webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
-moz-transition: opacity 0.3s linear, top 0.3s ease-out;
-o-transition: opacity 0.3s linear, top 0.3s ease-out;
transition: opacity 0.3s linear, top 0.3s ease-out;
top: -117%;
}
.modal.fade.in {
top: 20%;
}
@media screen and (max-width: 768px){
    .pricing_table { text-align: center; margin: 25px 0;}
}
@media screen and (min-width: 768px){
    .pricing_table { text-align: center; margin: 25px 0px;
    }
    .newpricing_table{
      padding-left: 20%;
      
    }
}
@media print {
  .topnav{
    display: none;
  }
}