/* app css stylesheet */
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
    float: left;
}
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
}
.selectedItems{
    float: left; 
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.panel{
width: 30%;
background-color: black;
}
.form-section .custom-error {
    color:#FF0000;
}
.crawltable td{
  font-size: 15px !important;
}
.crawltable th:hover{
  cursor: pointer;
}

.add_entity h1{
  margin: 1.5em 0px;
  text-align: center; 
}
.add_entity .choices a i:before{
  font-size: 4em;
}
.add_entity .choices a i{
  display: block;
}
.add_entity input{
  font-size: 20px;
  height: 45px !important;
}

.add_entity .form-horizontal .control-label {
width: 125px;
position: relative;
top: 7px;
font-size: 18px;
font-weight: lighter;
}

.add_entity .form-horizontal .form-actions {
margin-top: 0;
padding: 0;
position: relative;
left: 19%;
}

.add_entity .widget.widget-tabs-double-2 > .widget-head ul li a.glyphicons i:before{
  color: #e5412d;
  left: auto;
  top: 21px;
  font-size: 50px;
  position: relative;
}

.add_entity ul li h3{
  display: inline;
  position: relative;
  display: block;
  top:30px;
}
.add_entity ul li a{

}

.add_entity .widget.widget-tabs-double-2 > .widget-head {
height: 85px !important;
}

.add_entity .widget.widget-tabs-double-2 > .widget-head ul {
  height: 85px !important;
}

.add_entity .widget.widget-tabs-double-2 > .widget-head ul li.active {
height: 85px !important;
background: none;
}

.add_entity .widget.widget-tabs-double-2 > .widget-head ul li{
height: 85px !important;
cursor: pointer;
}

.add_entity select{
height: 45px;
font-size: 20px;
}

.logo{
  width: 200px !important;
}

/* D3js Codes */
.xchart .color0 .fill {
fill: rgba(244,244,244,0.5) !important;
}
.xchart .color0 .line {
stroke: #e5412d !important;
}
/* END D3js */