<div class="row-fluid">
        <div class="center hidden-phone">
                <img src="img/reputer.png" class="logo" alt="">
        </div>
        <div class="center visible-phone">
                <img src="img/reputer.png" style="width:100px" alt="">
        </div>
</div>
<div id="login" ng-init="signup=false">

        <div class="container" >
                
                <div class="wrapper">


                        <!-- Box -->
                        <div class="widget widget-heading-simple widget-body-gray">

                                <div class="widget-body">

                                        <!-- Form -->
                                        <form>
                                                <label>Email</label>
                                                <input type="email" ng-model="user.email" class="input-block-level" placeholder="Your Email Address" required/>
                                                <label>Password</label>
                                                <input ng-model="user.password" type="password" class="input-block-level margin-none" placeholder="Your Password" required/>
                                                <div class="separator bottom"></div>
                                                <div class="row-fluid">
                                                         <div class="span6" style="margin-bottom:10px">
                                                                <button ng-disabled="!(user.email!=null&&user.password!=null)" class="btn btn-large btn-block btn-inverse" ng-click="login(user)">Sign In</button>
                                                        </div>
                                                        <div class="span6">
                                                                        <button ng-disabled="!(user.email!=null&&user.password!=null)" class="btn btn-primary btn-block btn-large"  ng-click="register(user)" >Sign Up</button>
                                                        </div>
                                                       
                                                </div>
                                                <div class="row-fluid">
                                                        <div class="span12">
                                                                <div class="offset4 span8">
                                                                <br>
                                                                        <a class="center" ng-click="location.path('/forgot')" >Forgot Password?</a>
                                                                </div>
                                                        </div>
                                                </div>
                                        </form>
                                        <!-- // Form END -->
                                        <div >
                                        <div></span><span style="color:red" ng-show="error"><br>{{error}}</span></div>
                                </div>
                                </div>
                                
                        </div>
                        <!-- // Box END -->
