<div ng-hide="error">		<!-- Top navbar END -->
<div class="heading-buttons">
	<h1>Billing History<span></span></h1>
	
	<div class="clearfix"></div>
</div>	


<div class="innerLR">

	<!-- Widget -->
	
		
	<h5 class="text-uppercase separator bottom margin-none"> This page will show all the billing related changes that happen to your account</h5>
	<!-- Table -->
	<table class="footable table table-striped table-bordered table-white table-primary ">
	
		<!-- Table heading -->
		<thead class="center">
			<tr>
				<th data-class="expand">Events</th>
				<th class="center" style="width: 13%;">Date and Time</th>
				
			</tr>
		</thead>
		<!-- // Table heading END -->
		
		<!-- Table body -->
		<tbody >
		
			<!-- Table row -->
			<tr class="gradeX" ng-repeat="event in events">
				<td >{{event.display_text}}</td>
				<td class="center">{{event.date}}</td>
				
			</tr>
			
			
		</tbody>
		<!-- // Table body END -->
		
	</table>
	<!-- // Table END -->
	

	
	
	<div class="separator bottom"></div>
	

	
</div>	
	
</div>
<div class="not_entity center" style="height:50%" ng-show="error">
	<h3 class="entity_add_h1 center">&nbsp;&nbsp;
		<i style="font-size:3em;display:block" class="icon-meh"></i>
		<br> There are no billing history related events at this time.
		<br><br>
	<span class="thank" >Thank you.</span>
</h3>
</div>
		<!-- // Content END -->