		<!-- Top navbar END -->
<div class="heading-buttons">
	<h1>Billing History<span></span></h1>
	
	<div class="clearfix"></div>
</div>	


<div class="innerLR">

	<!-- Widget -->
	<div class="widget widget-heading-simple widget-body-gray">
		<div class="widget-body center">
			<p class="lead margin-none">Unlimited Columns &amp; Expandable Rows. Tables for Desktop, Tablet &amp; Mobile. Resize your browser to try them.</p>
		</div>
	</div>
		
	<h5 class="text-uppercase strong separator bottom margin-none">Events</h5>
	<!-- Table -->
	<table class="footable table table-striped table-bordered table-white table-primary">
	
		<!-- Table heading -->
		<thead>
			<tr>
				<th data-class="expand">Events</th>
				
			</tr>
		</thead>
		<!-- // Table heading END -->
		
		<!-- Table body -->
		<tbody >
		
			<!-- Table row -->
			<tr class="gradeX" ng-repeat="event in events">
				<td>{{event.display_text}}</td>
				
			</tr>
			
			
		</tbody>
		<!-- // Table body END -->
		
	</table>
	<!-- // Table END -->
	

	
	<p class="separator text-center"><i class="icon-table icon-3x"></i></p>
	<div class="separator bottom"></div>
	

	
</div>	
	
		
		</div>
		<!-- // Content END -->