<div class="innerLR innerT">
<div ng-init="itemsPerPage = 15">
                        <h3>Online Profile Changes</h3>
                        <div class="widget-search form-inline">
            <button type="button" class="btn btn-primary pull-right">Search <i class="icon-search"></i></button>
            <div class="overflow-hidden">
                <input type="text" ng-model="query" ng-change="search()" class="input-large search-query" placeholder="Search">
            </div>
        </div>
                <br>
                <table class="crawltable footable table table-striped table-bordered table-white table-primary">
                        
                        <!-- Table heading -->
                        <thead>
                                        <tr>
                                                <th>Good/Bad&nbsp;</th>
                                                <th ng-click="sort_by('domain')">Website&nbsp;<i class="icon-sort"></i></th>
                                                <th ng-click="sort_by('new_rating')">New Rating&nbsp;<i class="icon-sort"></i></th>
                                                <th ng-click="sort_by('old_rating')">Old Rating&nbsp;<i class="icon-sort"></i></th>
                                                <th ng-click="sort_by('new_votes')">New Votes&nbsp;<i class="icon-sort"></i></th>
                                                <th ng-click="sort_by('old_votes')">Old Votes&nbsp;<i class="icon-sort"></i></th>
                                                <th ng-click="sort_by('status')">Status&nbsp;<i class="icon-sort"></i></th>
                                                <th>Movement&nbsp;</th>
                                        </tr>
                                </thead>        
                        <!-- // Table heading END -->
                        
                        <!-- Table body -->
                        <tfoot>
                <td colspan="8">
                    <div class="pagination pull-right">
                        <ul>
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
                        <tbody>
                                
                                <!-- Table row -->
                                <tr ng-repeat="result in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-hide="result.hide">
                                        <td style="text-align:center"><i class="icon-thumbs-up" style="font-size: 22px;color:green" ng-show="result.outcome=='G'"></i><i style="font-size: 22px;color:red" class="icon-thumbs-down" ng-show="result.outcome=='B'"></i></td>
                                        <td><a href="{{result.URL}}">{{result.domain}}</td>
                                        <td>{{result.new_rating}}</td>
                                        <td>{{result.old_rating}}</td>
                                        <td>{{result.new_votes}}</td>
                                        <td>{{result.old_votes}}</td>
                                        <td>{{result.status}}</td>
                                        <td style="text-align:center"><i class="icon-circle-arrow-up" style="font-size: 22px;color:green" ng-show="result.movement=='U'"></i><i style="font-size: 22px;color:red" class="icon-circle-arrow-down" ng-show="result.movement=='D'"></i></td>
                                        
                                </tr>
                                <!-- // Table row END -->
                                
                        </tbody>
                        <!-- // Table body END -->
                        
                </table>
                </div>
</div>