<h1>&nbsp;&nbsp;Credit Card<span></span></h1>
	<div class="innerLR">

		<!-- Widget -->
		<div class="widget widget-tabs widget-tabs-gray widget-tabs-double-2 border-bottom-none">
			
			<!-- Widget heading -->
			<div class="widget-head">
				<ul>
					
					<li class="active"><a class="glyphicons settings" href="#edit-account" data-toggle="tab"><i></i>Credit Card details</a></li>
					
				</ul>
			</div>
			<!-- // Widget heading END -->
			
			<div class="widget-body">
				
				<form class="form-horizontal">
					<div class="tab-content">
						
						
						
						<!-- Tab content -->
						<div class="tab-pane active widget-body-regular" id="edit-account">
							
							<div class="widget widget-tabs widget-tabs-gray widget-tabs-vertical row-fluid row-merge margin-none widget-body-white">
								
								<!-- Widget heading -->
								<!--<div class="widget-head span3">
									<ul>
										<li class="active"><a class="glyphicons settings" href="#account-settings" data-toggle="tab"><i></i>Account settings</a></li>
										
										
										
									</ul>
								</div>-->
								<!-- // Widget heading END -->
								
								<div class="widget-body span12">
									
									<div class="tab-content">
										
										<div class="tab-pane active" id="account-settings">
											
											<!-- Row -->
											<div class="row-fluid">
												
												<!-- Column -->
												<div class="span3">
													<strong>Change card details</strong>
													<p class="muted"></p>
												</div>
												<!-- // Column END -->
												
												<!-- Column -->
												<div class="span9">
													<label for="inputUsername">Number</label>
													<input type="text" ng-disabled="true" id="inputUsername" class="span10"   ng-model="card.number" required/>
													<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Number can't be changed"><i></i></span>
													<div class="separator"></div>
													

													<label for="inputUsername">Expiry Month</label>
													<select ng-model="card.exp_month" class="span10" required>
														<option>1</option>
														<option>2</option>
														<option>3</option>
														<option>4</option>
														<option>5</option>
														<option>6</option>
														<option>7</option>
														<option>8</option>
														<option>9</option>
														<option>10</option>
														<option>11</option>
														<option>12</option>
													</select>
													
													<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Select Expiry Month"><i></i></span>
													<div class="separator"></div>
													
													<label for="inputPasswordOld">Expiry Year</label>
													<select ng-model="card.exp_year" class="span10" required>
														<option>2013</option>
														<option>2014</option>
														<option>2015</option>
														<option>2016</option>
														<option>2017</option>
														<option>2018</option>
														<option>2019</option>
														<option>2020</option>
														<option>2021</option>
														<option>2022</option>
														<option>2023</option>
														<option>2024</option>
														<option>2025</option>
														<option>2026</option>
														<option>2027</option>
														<option>2028</option>
														<option>2029</option>
														<option>2030</option>
														<option>2031</option>
														<option>2032</option>
														<option>2033</option>
														<option>2034</option>
														<option>2035</option>
														<option>2036</option>
														<option>2037</option>
														<option>2038</option>
													</select>
													<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Select Expiry Year "><i></i></span>
													<div class="separator"></div>
													
													<div class="separator"></div>
												</div>
												<!-- // Column END -->
												
											</div>
											<!-- // Row END -->
											
											<div class="separator line bottom"></div>
											
											<!-- Row -->
											
											<!-- // Row END -->
											
											<!-- Form actions -->
											<div class="form-actions" style="margin: 0;">
												<button  class="btn btn-icon btn-primary glyphicons circle_ok" ng-click="edit_card(card)"><i></i>Save changes</button>
											</div>
											<!-- // Form actions END -->
											
										</div>
									
									</div>	
								</div>
							</div>	
						</div>
						<!-- // Tab content END -->
						

					</div>
				</form>
			</div>
		</div>
		<!-- // Widget END -->
		
	</div>