	<ul class="breadcrumb">
	<li>You are here</li>
	<li><a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons dashboard"><i></i> Reputer</a></li>
	<li class="divider"><i class="icon-caret-right"></i></li>
	<li>Components</li>
	<li class="divider"><i class="icon-caret-right"></i></li>
	<li>Charts</li>
</ul>

<h1>&nbsp;&nbsp;Charts</h1>
<div class="innerLR">

	<!-- Widget -->
	<div class="widget widget-heading-simple widget-body-gray">
	
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">Simple chart</h4>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
			
			<!-- Simple Chart -->
			<div id="placeholder" style="height:250px"></div>
		</div>
	</div>
	<!-- // Widget END -->
	
	<!-- Widget -->
	<div class="widget widget-heading-simple widget-body-white">
	
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">Lines chart with fill & without points</h4>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
		
			<!-- Chart with lines and fill with no points -->
			<div id="chart_lines_fill_nopoints" style="height: 250px;"></div>
		</div>
	</div>
	<!-- // Widget END -->
	
	<!-- Widget -->
	<div class="widget widget-heading-simple widget-body-gray">
		
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">Ordered bars chart</h4>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
		
			<!-- Ordered bars Chart -->
			<div id="chart_ordered_bars" style="height: 250px;"></div>
		</div>
	</div>
	<!-- // Widget END -->
	
	<!-- Widget -->
	<div class="widget widget-heading-simple widget-body-white">
	
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">Donut chart</h4>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
		
			<!-- Donut Chart -->
			<div id="chart_donut" style="height: 250px;"></div>
		</div>
	</div>
	<!-- // Widget END -->
	
	<!-- Widget -->
	<div class="widget widget-heading-simple widget-body-gray">
	
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">Stacked bars chart</h4>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
		
			<!-- Stacked bars Chart -->
			<div id="chart_stacked_bars" style="height: 250px;"></div>
		</div>
	</div>
	<!-- // Widget END -->
	
	<!-- Widget -->
	<div class="widget widget-heading-simple widget-body-white">
	
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">Pie chart</h4>
		</div>
		<!-- // Widget heading END -->
		
		<div class="widget-body">
		
			<!-- Pie Chart -->
			<div id="chart_pie" style="height: 250px;"></div>
		</div>
	</div>
	<!-- // Widget END -->
	
	<!-- Widget -->
	<div class="widget widget-heading-simple widget-body-gray">
	
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">Horizontal bars chart</h4>
		</div>
		<!-- // Widget heading END -->
	
		<div class="widget-body">
		
			<!-- Horizontal Bars Chart -->
			<div id="chart_horizontal_bars" style="height: 250px;"></div>
		</div>
	</div>
	<!-- // Widget END -->
	
	<!-- Widget -->
	<div class="widget widget-heading-simple widget-body-white">
	
		<!-- Widget heading -->
		<div class="widget-head">
			<h4 class="heading">Auto updating chart</h4>
		</div>
		<!-- // Widget heading END -->
	
		<div class="widget-body">
		
			<!-- Live Chart -->
			<div id="chart_live" style="height: 250px;"></div>
		</div>
	</div>
	<!-- // Widget END -->		
	
</div>