	<ul class="breadcrumb">
		<li>You are here</li>
		<li><a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons dashboard"><i></i> Reputer</a></li>
		<li class="divider"><i class="icon-caret-right"></i></li>
		<li>Pages</li>
		<li class="divider"><i class="icon-caret-right"></i></li>
		<li>Advanced profile</li>
	</ul>

	<h1>&nbsp;&nbsp;Profile <span>Advanced Layout</span></h1>
	<div class="innerLR">

		<!-- Widget -->
		<div class="widget widget-tabs widget-tabs-gray widget-tabs-double-2 border-bottom-none">
			
			<!-- Widget heading -->
			<div class="widget-head">
				<ul>
					<!--<li class="active"><a class="glyphicons display" href="#overview" data-toggle="tab"><i></i>Overview</a></li>-->
					<li class="active"><a class="glyphicons edit" href="#edit-account" data-toggle="tab"><i></i>Entity Details</a></li>
					<!--<li><a class="glyphicons luggage" href="#projects" data-toggle="tab"><i></i>Projects</a></li>-->
				</ul>
			</div>
			<!-- // Widget heading END -->
			
			<div class="widget-body">
				
				
					
						
						<!-- Tab content -->
						<div class="tab-pane widget-body-regular active" id="edit-account">
							
							<div class="widget widget-tabs widget-tabs-gray widget-tabs-vertical row-fluid row-merge margin-none widget-body-white">
								
								<!-- Widget heading -->
								<div class="widget-head span3">
									<ul>
										<li class="active"><a class="glyphicons user_add" href="#privacy-settings" data-toggle="tab"><i></i>Basic Entity</a></li>
										<li><a class="glyphicons settings" href="#account-settings" data-toggle="tab"><i></i>Location/Address</a></li>
										<li ><a class="glyphicons pencil" href="#account-details" data-toggle="tab"><i></i>Entity Details</a></li>
										
									</ul>
								</div>
								<!-- // Widget heading END -->
								
								<div class="widget-body span9">
									
									<div class="tab-content">
										<div class="tab-pane " id="account-details">
											
											<!-- Row -->
											<div class="row-fluid">
												
												<!-- Column -->
												<div class="span6">
													
													<!-- Group -->
													<div class="control-group">
														<label class="control-label">Alternate name</label>
														<div class="controls">
															<input type="text"  class="span10"  ng-model="name.alternate_name" required/>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Name is mandatory"><i></i></span>
														</div>
													</div>
													<!-- // Group END -->
													
													<!-- Group -->
													<div class="control-group">
														<label class="control-label">Misspellings of the name:</label>
														<div class="controls">
															<input type="text" class="span10"  ng-model="name.common_misspellings_of_the_name" required/>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Mandatory field"><i></i></span>
														</div>
													</div>
													<!-- // Group END -->
													
													<!-- Group -->
													<div class="control-group">
														<label class="control-label">School attended1</label>
														<div class="controls">
															<input type="text" class="span10"  ng-model="name.school_attended1" required/>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Mandatory"><i></i></span>
														</div>
													</div>
													<!-- // Group END -->
													<div class="control-group">
														<label class="control-label">School attended2</label>
														<div class="controls">
															<input type="text" class="span10" ng-model="name.school_attended2" required/>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Mandatory"><i></i></span>
														</div>
													</div>
												</div>
												<!-- // Column END -->
												
												<!-- Column -->
												<div class="span6">
													
													<!-- Group -->
													<div class="control-group">
														<label class="control-label">Previous places lived1</label>
														<div class="controls">
															<input type="text"  class="span10"  ng-model="name.previous_places_lived1" required/>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Mandatory"><i></i></span>
														</div>
													</div>
													<!-- // Group END -->
													
													<!-- Group -->
													<div class="control-group">
														<label class="control-label">Previous places worked1</label>
														<div class="controls">
															<input type="text"class="span10" ng-model="name.previous_places_worked1" required/>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Mandatory"><i></i></span>
														</div>
													</div>
													<!-- // Group END -->
													<div class="control-group">
														<label class="control-label">Previous places lived2</label>
														<div class="controls">
															<input type="text" class="span10"  ng-model="name.previous_places_lived2" required/>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Mandatory"><i></i></span>
														</div>
													</div>
													<div class="control-group">
														<label class="control-label">Previous places worked2</label>
														<div class="controls">
															<input type="text" class="span10" ng-model="name.previous_places_worked2" required/>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Mandatory"><i></i></span>
														</div>
													</div>
													
												</div>
												<!-- // Column END -->
												
											</div>
											<!-- // Row END -->
											
											<div class="separator line bottom"></div>
											
											<!-- Group -->
											<div class="control-group ">
												<div class="span12"> 
													<div class="span2">
												<label class="control-label span2">URL</label>
											</div>
											<div class="span10">
												<input type="text" id="inputPasswordNew" class="span11"  ng-model="url.url" required/>
											</div>
											</div>
											</div>
											<!-- // Group END -->
											
											<!-- Form actions -->
											<div class="" style="margin: 0;">
												<button  ng-click="save_name(name,url)" class="btn btn-icon btn-primary glyphicons circle_ok" ng-disabled="!(name.alternate_name!=null&&name.common_misspellings_of_the_name!=null&&name.school_attended1!=null&&name.school_attended2!=null&&name.previous_places_lived1!=null&&name.previous_places_worked1!=null&&name.previous_places_lived2!=null&&name.previous_places_worked2!=null&&url.url!=null)"><i></i>Save changes</button>
												
											</div>
											<!-- // Form actions END -->
											
										</div>
										<div class="tab-pane " id="account-settings">
											
											<!-- Row -->
											<div class="row-fluid">
												
												<!-- Column -->
												<div class="span3">
													<strong>Add location</strong>
													<p class="muted"></p>
												</div>
												<!-- // Column END -->
												
												<!-- Column -->
												<div class="span9">
													<div class="span12">
													</div>
													<div class="span12">
														<div class="span2">
														<label for="inputUsername">Address1</label>
													</div>
													<div class="span10">
														<input type="text" id="inputUsername" class="span10"  ng-model="loctn.address1" required/>
														<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Address is mandatory"><i></i></span>
														</div>
													</div>
													<div class="span12">
														<div class="separator">
														</div>
													</div>
													<div class="span12">
														<div class="span2">
														<label for="inputUsername">Address2</label>
													</div>
													<div class="span10">
														<input type="text" id="inputUsername" class="span10"  ng-model="loctn.address2" required/>
														<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Address is mandatory"><i></i></span>
														</div>
													</div>
													<div class="span12">
														<div class="separator">
														</div>
													</div>
													<div class="span12">
														<div class="span2">
														<label for="inputUsername">City</label>
													</div>
													<div class="span10">
														<input type="text" id="inputUsername" class="span10"  ng-model="loctn.city" required/>
														<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="City is mandatory"><i></i></span>
														</div>
													</div>
													<div class="span12">
														<div class="separator">
														</div>
													</div>
													<div class="span12">
														<div class="span2">
														<label for="inputUsername">State</label>
													</div>
													<div class="span10">
														<input type="text" id="inputUsername" class="span10"  ng-model="loctn.state" required/>
														<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="State is mandatory"><i></i></span>
														</div>
													</div>
													<div class="span12">
														<div class="separator">
														</div>
													</div>
													<div class="span12">
														<div class="span2">
														<label for="inputUsername">Zip code</label>
													</div>
													<div class="span10">
														<input type="text" id="inputUsername" class="span10"  ng-model="loctn.zip_code" required/>
														<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Zip code is mandatory"><i></i></span>
														</div>
													</div>
													<div class="span12">
														<div class="separator">
														</div>
													</div>
													
												</div>
												<!-- // Column END -->
												
											</div>
											<!-- // Row END -->
											
											<div class="separator line bottom"></div>
											
											<!-- Row -->
											<div class="row-fluid">
												
												<!-- Column -->
												<div class="span3">
													<strong>Contact details</strong>
													<p class="muted"></p>
												</div>
												<!-- // Column END -->
												
												<!-- Column -->
												<div class="span9">
													<div class="row-fluid">
														<div class="span6">
															<label for="inputPhone">Phone</label>
															<div class="input-prepend">
																<span class="add-on glyphicons phone"><i></i></span>
																<input type="text" id="inputPhone" class="input-large" ng-model="phone.number" required/>
															</div>
															<div class="separator"></div>
															
															
															
														</div>
														<div class="span6">
															<label for="inputEmail">Fax</label>
															<div class="input-prepend">
																<span class="add-on glyphicons envelope"><i></i></span>
																<input type="text" id="inputEmail" class="input-large"  ng-model="fax.number" required/>
															</div>
															<div class="separator"></div>
															
														</div>
													</div>
												</div>
												<!-- // Column END -->
												
											</div>
											<!-- // Row END -->
											
											<!-- Form actions -->
											<div class="" style="margin: 0;">
												<button  ng-click="save_location(entity,phone,fax,loctn)" class="btn btn-icon btn-primary glyphicons circle_ok" ng-disabled="!(loctn.address1!=null&&loctn.address2!=null&&loctn.city!=null&&loctn.state!=null&&loctn.zip_code!=null&&phone.number!=null&&fax.number!=null)"><i></i>Save changes</button>
											</div>
											<!-- // Form actions END -->
											
										</div>
										
										<div class="tab-pane active" id="privacy-settings">
											
											<!-- Row -->
											<div class="row-fluid">
							
												<!-- Column -->
												<div class="span12">
													
													<!-- Group -->
													<div class="control-group">
														<label class="control-label">First name</label>
														<div class="controls">
															<input type="text" ng-model="entity.first_name" class="span5" required/>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="First name is mandatory"><i></i></span>
														</div>
													</div>
													<!-- // Group END -->
													<div class="control-group">
														<label class="control-label">Middle name</label>
														<div class="controls">
															<input type="text" ng-model="entity.middle_name" class="span5" required/>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Middle name is mandatory"><i></i></span>
														</div>
													</div>
													<!-- Group -->
													<div class="control-group">
														<label class="control-label">Last name</label>
														<div class="controls">
															<input type="text" ng-model="entity.last_name" class="span5" required/>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Last name is mandatory"><i></i></span>
														</div>
													</div>
													<div class="control-group">
														<label class="control-label">Profession</label>
														<div class="controls">
															<select ng-model="entity.profession" ng-options="p.resource_uri as p.name for p in professions" class="span5" name="" id="" width="1000" height="500">
															</select>
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Profession is mandatory"><i></i></span>
														</div>
													</div>
													<div class="control-group" ng-show="entity.profession=='/api/v1/Profession/1/'||entity.other_profession!=''">
														<label class="control-label">Other Profession</label>
														<div class="controls">
															<input type="text" ng-model="entity.other_profession"  class="span5" />
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Last name is mandatory"><i></i></span>
														</div>
													</div>
													<br>
													<!-- // Group END -->
													
													<!-- Group -->
													
													<!-- // Group END -->
													
												</div>
												<!-- // Column END -->
												
												<!-- Column -->
												
												<!-- // Column END -->
												
											</div>
											<!-- // Row END -->
											
											
											


														<!-- Form actions -->
														<div class="" style="margin: 0;">
														<button ng-disabled="!(entity.first_name!=null&&entity.middle_name!=null&&entity.last_name!=null&&entity.profession!=null)" ng-click="edit_person(entity)" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Save changes</button>
														</div>
														<!-- // Form actions END -->

													</div>
									</div>	
								</div>
							</div>	
						</div>
						<!-- // Tab content END -->
						
						<!-- Tab content -->
						
						<!-- // Tab content END -->
					</div>
				
			</div>
		</div>
		<!-- // Widget END -->
		
	</div>