	<h1 class="entity_add_h1">&nbsp;&nbsp;Whose reputation would you like to monitor ?</h1>

	<div class="innerLR">

		<!-- Widget -->
		<div class="widget widget-tabs widget-tabs-gray widget-tabs-double-2 border-bottom-none">
			
			<!-- Widget heading -->
			<div class="widget-head">
				<ul>
					<li><a class="glyphicons user" href="#edit-account" data-toggle="tab"><i></i>Person</a></li>
					<li><a class="glyphicons luggage" href="#projects" data-toggle="tab"><i></i>Business</a></li>
				</ul>
			</div>
			<!-- // Widget heading END -->
			
			<div class="widget-body">
				
				<form class="form-horizontal">
					<div class="tab-content">
						
						<div class="tab-pane widget-body-regular" id="edit-account">
							
							<div class="widget widget-tabs widget-tabs-gray widget-tabs-vertical row-fluid row-merge margin-none widget-body-white">
								
								
								
								<div class="widget-body span12">
									
									<div class="tab-content">
										<div class="tab-pane active" id="account-details">
											
											<!-- Row -->
											<div class="row-fluid">
												
												<!-- Column -->
												<div class="span12">
													
													<!-- Group -->
													<div class="control-group">
														<label class="control-label">First name</label>
														<div class="controls">
															<input type="text" value="John" class="span10" />
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="First name is mandatory"><i></i></span>
														</div>
													</div>
													<!-- // Group END -->
													<div class="control-group">
														<label class="control-label">Middle name</label>
														<div class="controls">
															<input type="text" value="Doe" class="span10" />
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Last name is mandatory"><i></i></span>
														</div>
													</div>
													<!-- Group -->
													<div class="control-group">
														<label class="control-label">Last name</label>
														<div class="controls">
															<input type="text" value="Doe" class="span10" />
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="Last name is mandatory"><i></i></span>
														</div>
													</div>
													<!-- // Group END -->
													
													<!-- Group -->
													
													<!-- // Group END -->
													
												</div>
												<!-- // Column END -->
												
												<!-- Column -->
												
												<!-- // Column END -->
												
											</div>
											<!-- // Row END -->
											
											<div class="separator line bottom"></div>
											
											<div class="control-group">
														<label class="control-label">State</label>
														<div class="controls">
															<select>	</select>
														</div>
													</div>
											
											<!-- Form actions -->
											<div class="form-actions" style="margin: 0;">
												<button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Save changes</button>
												<button type="button" class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Cancel</button>
											</div>
											<!-- // Form actions END -->
											
										</div>
									</div>	
								</div>
							</div>	
						</div>
						<!-- // Tab content END -->
						
						<!-- Tab content -->
						<div class="tab-pane widget-body-regular" id="projects">
							
							<div class="widget widget-tabs widget-tabs-gray widget-tabs-vertical row-fluid row-merge margin-none widget-body-white">
								
								
								
								<div class="widget-body span12">
									
									<div class="tab-content">
										<div class="tab-pane active" id="account-details">
											
											<!-- Row -->
											<div class="row-fluid">
												
												<!-- Column -->
												<div class="span12">
													
													<!-- Group -->
													<div class="control-group">
														<label class="control-label">Name of Business</label>
														<div class="controls">
															<input type="text" value="John" class="span10" />
															<span style="margin: 0;" class="btn-action single glyphicons circle_question_mark" data-toggle="tooltip" data-placement="top" data-original-title="First name is mandatory"><i></i></span>
														</div>
													</div>
													
													
												</div>
												<!-- // Column END -->
												
												<!-- Column -->
												
												<!-- // Column END -->
												
											</div>
											<!-- // Row END -->
											
											<div class="separator line bottom"></div>
											
											<div class="control-group">
														<label class="control-label">State</label>
														<div class="controls">
															<select>	</select>
														</div>
													</div>
											
											<!-- Form actions -->
											<div class="form-actions" style="margin: 0;">
												<button type="submit" class="btn btn-icon btn-primary glyphicons circle_ok"><i></i>Save changes</button>
												<button type="button" class="btn btn-icon btn-default glyphicons circle_remove"><i></i>Cancel</button>
											</div>
											<!-- // Form actions END -->
											
										</div>
									</div>	
								</div>
							</div>	
						</div>
						<!-- // Tab content END -->
					</div>
				</form>
			</div>
		</div>
