<br>
<h1>&nbsp;&nbsp;{{entity.business_name}}{{entity.first_name}} {{entity.last_name}}</h1>
<br>
<!-- Stats Widgets -->
<div class="row-fluid row-merge border-top">

	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-default widget-stats-4">
				<span class="txt">Ratings</span>
				<span class="count">4.3</span>
				<span class="glyphicons cup"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-primary widget-stats-4">
				<span class="txt">Reviews</span>
				<span class="count">58</span>
				<span class="glyphicons refresh"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-gray widget-stats-4">
				<span class="txt">Sentiment Score</span>
				<span class="count">3.8<span>Today</span></span>
				<span class="glyphicons user"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-2">
				<span class="count">30</span>
				<span class="txt">Bookings</span>
			</a>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<figure style="width: 100%; height: 200px;" id="myChart"></figure>
		<h4 class="center">Sentiment Score</h4>
	</div>
	<div class="span6">
		<figure style="width: 100%; height: 200px;" id="myChart2"></figure>
		<h4 class="center">Popularity Count</h4>
	</div>
</div>
<div style="clear:both"></div>
<div class="innerLR innerT">
<div class="widget widget-heading-simple widget-body-gray">
			<div class="widget-body center">
				<p class="lead margin-none">Here are the changes that happened in your rating recently across the web</p>
			</div>
		</div>
		 <div  ng-controller="profileTable" ng-init="itemsPerPage = 5">
		<h3>Profile</h3>
		<div class="widget-search form-inline">
			<button type="button" class="btn btn-primary pull-right">Search <i class="icon-search"></i></button>
			<div class="overflow-hidden">
				<input type="text" ng-model="query" ng-change="search()" class="input-large search-query" placeholder="Search">
			</div>
		</div>
		<br>
		<table class="crawltable footable table table-striped table-bordered table-white table-primary">
			
			<!-- Table heading -->
			<thead>
					<tr>
						<th ng-click="sort_by('Rank')">Rank&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('domain')">Website&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('Title')">Title&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('Summary')">Summary&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('rating')">Rating&nbsp;<i class="icon-sort"></i></th>
						<th>Actions</th>
					</tr>
				</thead>	
			<!-- // Table heading END -->
			
			<!-- Table body -->
			<tfoot>
                <td colspan="6">
                	<button class="btn btn-inverse" ng-click="location.path('/reports/profile')">View More</button>
                    <div class="pagination pull-right">
                        <ul>
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
			<tbody>
				
				<!-- Table row -->
				<tr ng-repeat="result in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-hide="result.hide">
					<td>{{result.Rank}}</td>
					<td>{{result.domain}}</td>
					<td>{{result.Title}}</td>
					<td>{{result.Summary}}</td>
					<td>{{result.rating}}</td>
					<td><button class="btn btn-inverse" ng-click="ignore(result)"> Not Me</button></td>
				</tr>
				<!-- // Table row END -->
				
			</tbody>
			<!-- // Table body END -->
			
		</table>
		<!-- // Table END -->
	</div>
		<!-- SECOND CONTROLLER FOR Reviews --> 
		<div ng-controller="changesTable" ng-init="itemsPerPage = 3">
			<h3>Changes</h3>
		<br>
		<table class="crawltable footable table table-striped table-bordered table-white table-primary">
			
			<!-- Table heading -->
			<thead>
					<tr>
						<th>Good/Bad&nbsp;</th>
						<th ng-click="sort_by('domain')">Website&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('new_rating')">New Rating&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('old_rating')">Old Rating&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('new_votes')">New Votes&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('old_votes')">Old Votes&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('status')">Status&nbsp;<i class="icon-sort"></i></th>
						<th>Movement&nbsp;</th>
					</tr>
				</thead>	
			<!-- // Table heading END -->
			
			<!-- Table body -->
			<tfoot>
                <td colspan="8">
                	<button class="btn btn-inverse" ng-click="location.path('/reports/changes')">View More</button>
                    <div class="pagination pull-right">
                        <ul>
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
			<tbody>
				
				<!-- Table row -->
				<tr ng-repeat="result in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-hide="result.hide">
					<td style="text-align:center"><i class="icon-thumbs-up" style="color:green" ng-show="result.outcome=='G'"></i><i style="color:red" class="icon-thumbs-down" ng-show="result.outcome=='B'"></i></td>
					<td>{{result.domain}}</td>
					<td>{{result.new_rating}}</td>
					<td>{{result.old_rating}}</td>
					<td>{{result.new_votes}}</td>
					<td>{{result.old_votes}}</td>
					<td>{{result.status}}</td>
					<td style="text-align:center"><i class="icon-circle-arrow-up" style="color:green" ng-show="result.movement=='U'"></i><i style="color:red" class="icon-circle-arrow-down" ng-show="result.movement=='D'"></i></td>
					
				</tr>
				<!-- // Table row END -->
				
			</tbody>
			<!-- // Table body END -->
			
		</table>
		</div>
		<!-- SECOND CONTROLLER FOR CHANGES --> 
		<div ng-controller="reviewTable" ng-init="itemsPerPage = 3">
			<h3>Review Changes</h3>
		<br>
		<table class="crawltable footable table table-striped table-bordered table-white table-primary">
			
			<!-- Table heading -->
			<thead>
					<tr>
						
						<th ng-click="sort_by('source')">Website&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('author')">Author&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('review_date')">Date&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('rating')">Rating&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('review_title')">Title&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('review_text')">Text&nbsp;<i class="icon-sort"></i></th>
						<th>Type&nbsp;</th>
						
					</tr>
				</thead>	
			<!-- // Table heading END -->
			
			<!-- Table body -->
			<tfoot>
                <td colspan="8">
                	<button class="btn btn-inverse" ng-click="location.path('/reports/review')">View More</button>
                    <div class="pagination pull-right">
                        <ul>
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
			<tbody>
				
				<!-- Table row -->
				<tr ng-repeat="result in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-hide="result.hide">
					<td><a href="http://{{result.domain}}">{{result.source}}</td>
					<td><a href="http://{{result.author_url}}">{{result.author}}</a></td>
					<td>{{result.review_date}}</td>
					<td>{{result.rating}}</td>
					<td>{{result.review_title}}</td>
					<td>{{result.review_text}}</td>
					<td style="text-align:center"><i class="icon-minus-sign" style="color:red" ng-show="result.changetype=='Removed'"></i><i style="color:green" class="icon-plus-sign" ng-show="result.changetype==''"></i><i style="color:blue" class="icon-pencil" ng-show="result.changetype==''"></i></td>
					
				</tr>
				<!-- // Table row END -->
				
			</tbody>
			<!-- // Table body END -->
			
		</table>
		</div>

</div>