<div class="innerLR innerT">
	<div class="widget-search form-inline">
		<button type="button" class="btn btn-primary pull-right">Search <i class="icon-search"></i></button>
		<div class="overflow-hidden">
			<input type="text" value="" placeholder="Type your keywords ..">
		</div>
	</div>
</div>
<h1>&nbsp;&nbsp;Dashboard</h1>
<!-- Stats Widgets -->
<div class="row-fluid row-merge border-top">

	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-default widget-stats-4">
				<span class="txt">Ratings</span>
				<span class="count">4.3</span>
				<span class="glyphicons cup"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-primary widget-stats-4">
				<span class="txt">Progress</span>
				<span class="count">58%</span>
				<span class="glyphicons refresh"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-gray widget-stats-4">
				<span class="txt">Signups</span>
				<span class="count">3<span>Today</span></span>
				<span class="glyphicons user"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-2">
				<span class="count">30</span>
				<span class="txt">Bookings</span>
			</a>
		</div>
	</div>
</div>

<div class="widget widget-heading-simple widget-body-gray">
			<div class="widget-body center">
				<p class="lead margin-none">Changes in your Reputation</p>
			</div>
		</div>
		
		<h5 class="text-uppercase strong separator bottom margin-none">Example Using jQuery</h5>
		<!-- Table -->
		<table class="footable table table-striped table-bordered table-white table-primary" id="example">
			
			<!-- Table heading -->
			<thead>
				<tr>
					<th>Rank</th>
					<th>Website</th>
					<th>Title</th>
					<th>Summary</th>
					<th>Rating</th>
				</tr>
			</thead>
			<!-- // Table heading END -->
			
			<!-- Table body -->
			<tbody>
				
				
				
			</tbody>
			<!-- // Table body END -->
			
		</table>
		<!-- // Table END -->

