<br>
<h1>&nbsp;&nbsp;Dashboard</h1>
<br>
<!-- Stats Widgets -->
<div class="row-fluid row-merge border-top">

	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-default widget-stats-4">
				<span class="txt">Ratings</span>
				<span class="count">4.3</span>
				<span class="glyphicons cup"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-primary widget-stats-4">
				<span class="txt">Reviews</span>
				<span class="count">58</span>
				<span class="glyphicons refresh"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-gray widget-stats-4">
				<span class="txt">Sentiment Score</span>
				<span class="count">3.8<span>Today</span></span>
				<span class="glyphicons user"><i></i></span>
				<div class="clearfix"></div>
				<i class="icon-play-circle"></i>
			</a>
		</div>
	</div>
	<div class="span3">
		<div class="innerAll padding-bottom-none-phone">
			<a href="" class="widget-stats widget-stats-2">
				<span class="count">30</span>
				<span class="txt">Bookings</span>
			</a>
		</div>
	</div>
</div>
<div class="innerLR innerT" id="container">
	<highchart id="chart1" config="chartConfig" class="span10"></highchart>
</div>
<div class="innerLR innerT">
<div class="widget widget-heading-simple widget-body-gray">
			<div class="widget-body center">
				<p class="lead margin-none">Here are the changes that happened in your rating recently across the web</p>
			</div>
		</div>
		<div class="widget-search form-inline">
			<button type="button" class="btn btn-primary pull-right">Search <i class="icon-search"></i></button>
			<div class="overflow-hidden">
				<input type="text" ng-model="query" ng-change="search()" class="input-large search-query" placeholder="Search">
			</div>
		</div>
		<br>
		<table class="crawltable footable table table-striped table-bordered table-white table-primary">
			
			<!-- Table heading -->
			<thead>
					<tr>
						<th ng-click="sort_by('Rank')">Rank&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('domain')">Website&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('Title')">Title&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('Summary')">Summary&nbsp;<i class="icon-sort"></i></th>
						<th ng-click="sort_by('rating')">Rating&nbsp;<i class="icon-sort"></i></th>
						<th>Actions</th>
					</tr>
				</thead>	
			<!-- // Table heading END -->
			
			<!-- Table body -->
			<tfoot>
                <td colspan="6">
                    <div class="pagination pull-right">
                        <ul>
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
			<tbody>
				
				<!-- Table row -->
				<tr ng-repeat="result in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-hide="result.hide">
					<td>{{result.Rank}}</td>
					<td>{{result.domain}}</td>
					<td>{{result.Title}}</td>
					<td>{{result.Summary}}</td>
					<td>{{result.rating}}</td>
					<td><button class="btn btn-inverse" ng-click="ignore(result)"> Ignore</button></td>
				</tr>
				<!-- // Table row END -->
				
			</tbody>
			<!-- // Table body END -->
			
		</table>
		<!-- // Table END -->

</div>