<div class="heading-buttons">
	<h1>Invoices <span></span></h1>
	
	<div class="clearfix"></div>
</div>
<div class="separator bottom"></div>
<div class="innerLR">
		<div class="widget widget-heading-simple widget-body-white">
			
			<!-- Widget heading -->
			<div class="widget-head">
				<h4 class="heading glyphicons file"><i></i> Invoices</h4>
			</div>
			<!-- // Widget heading END -->

			<div class="widget-body">
				
				<!-- Table -->
				<table class="table table-condensed table-vertical-center table-thead-simple">
					<thead>
						<tr style="font-size:17px">
							
							<th>Period</th>
							<th class="center">Date</th>
							<th class="center">Amount</th>
							<th class="right">Actions</th>
						</tr>
					</thead>
					<tbody>
						
						<!-- Item -->
						<tr class="selectable" ng-repeat="invoice in invoices">
							
							<td class="important"><span class="label label-inverse center tdwidth">{{invoice.sdate}}</span> to <span class="label label-inverse center tdwidth">{{invoice.edate}}</span></td>
							<td class="center"><b><span class="label label-inverse tdwidth">{{invoice.date}}</span></td>
							<td class="center"><b>{{invoice.currency}}{{invoice.total}}<b></td>
							<td class="right actions">
								<a class="btn btn-success" ng-click="location.path('/invoice/'+invoice.id)">View</a>
								
							</td>
						</tr>
						
					</tbody>
				</table>
				<!-- // Table END -->
				
				
			</div>
		</div>
		<!-- // Widget END -->
	</div>