	<ul class="breadcrumb">
		<li>You are here</li>
		<li><a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons dashboard"><i></i> Reputer</a></li>
		<li class="divider"><i class="icon-caret-right"></i></li>
		<li>Components</li>
		<li class="divider"><i class="icon-caret-right"></i></li>
		<li>Modals</li>
	</ul>

	<h1>&nbsp;&nbsp;Modals</h1>
	<div class="innerLR">

		<div class="row-fluid">
			<div class="span6">

				<!-- Modal inline -->
				<div class="modal" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto; z-index: 1; max-width: 100%; width: auto;">
					
					<!-- Modal heading -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3>Modal header</h3>
					</div>
					<!-- // Modal heading END -->
					
					<!-- Modal body -->
					<div class="modal-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
					<!-- // Modal body END -->
					
					<!-- Modal footer -->
					<div class="modal-footer">
						<a href="" class="btn btn-default">Just a button</a> 
						<a href="#modal-simple" data-toggle="modal" class="btn btn-primary">Open Live Modal</a>
					</div>
					<!-- // Modal footer END -->
					
				</div>
				<div class="separator bottom"></div>
				<!-- // Modal inline END -->
				
				<!-- Modal inline -->
				<div class="modal modal-info" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto; z-index: 1; max-width: 100%; width: auto;">
					
					<!-- Modal heading -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3>Modal header</h3>
					</div>
					<!-- // Modal heading END -->
					
					<!-- Modal body -->
					<div class="modal-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
					<!-- // Modal body END -->
					
					<!-- Modal footer -->
					<div class="modal-footer">
						<a href="#modal-simple-info" data-toggle="modal" class="btn btn-info">Open Live Modal</a>
					</div>
					<!-- // Modal footer END -->
					
				</div>
				<div class="separator bottom"></div>
				<!-- // Modal inline END -->
				
				<!-- Modal inline -->
				<div class="modal modal-success" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto; z-index: 1; max-width: 100%; width: auto;">
					
					<!-- Modal heading -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3>Modal header</h3>
					</div>
					<!-- // Modal heading END -->
					
					<!-- Modal body -->
					<div class="modal-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
					<!-- // Modal body END -->
					
					<!-- Modal footer -->
					<div class="modal-footer">
						<a href="#modal-simple-success" data-toggle="modal" class="btn btn-success">Open Live Modal</a>
					</div>
					<!-- // Modal footer END -->
					
				</div>
				<div class="separator bottom"></div>
				<!-- // Modal inline END -->
				
			</div>
			<div class="span6">
				
				<!-- Modal inline -->
				<div class="modal modal-inverse" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto; z-index: 1; max-width: 100%; width: auto;">
					
					<!-- Modal heading -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3>Modal header</h3>
					</div>
					<!-- // Modal heading END -->
					
					<!-- Modal body -->
					<div class="modal-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
					<!-- // Modal body END -->
					
					<!-- Modal footer -->
					<div class="modal-footer">
						<a href="" class="btn btn-default">Just a button</a> 
						<a href="#modal-simple-inverse" data-toggle="modal" class="btn btn-primary">Open Live Modal</a>
					</div>
					<!-- // Modal footer END -->
					
				</div>
				<div class="separator bottom"></div>
				<!-- // Modal inline END -->
				
				<!-- Modal inline -->
				<div class="modal modal-primary" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto; z-index: 1; max-width: 100%; width: auto;">
					
					<!-- Modal heading -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3>Modal header</h3>
					</div>
					<!-- // Modal heading END -->
					
					<!-- Modal body -->
					<div class="modal-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
					<!-- // Modal body END -->
					
					<!-- Modal footer -->
					<div class="modal-footer">
						<a href="#modal-simple-primary" data-toggle="modal" class="btn btn-primary">Open Live Modal</a>
					</div>
					<!-- // Modal footer END -->
					
				</div>
				<div class="separator bottom"></div>
				<!-- // Modal inline END -->
				
				<!-- Modal inline -->
				<div class="modal modal-warning" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto; z-index: 1; max-width: 100%; width: auto;">
					
					<!-- Modal heading -->
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3>Modal header</h3>
					</div>
					<!-- // Modal heading END -->
					
					<!-- Modal body -->
					<div class="modal-body">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
					<!-- // Modal body END -->
					
					<!-- Modal footer -->
					<div class="modal-footer">
						<a href="#modal-simple-warning" data-toggle="modal" class="btn btn-warning">Open Live Modal</a>
					</div>
					<!-- // Modal footer END -->
					
				</div>
				<div class="separator bottom"></div>
				<!-- // Modal inline END -->
				
			</div>
		</div>

		<div class="row-fluid">
			<div class="span6">
				
				<div class="widget widget-heading-simple widget-body-white">
					<div class="widget-head"><h4 class="heading strong"><i class="icon-info-sign"></i> The Modal HTML Markup (required)</h4></div>
					<div class="widget-body">
						
						<!-- Code sample -->
						<pre class="prettyprint margin-none">
							&lt;div class="modal hide fade" id="myModal"&gt;
							&lt;div class="modal-header"&gt;
							&lt;button type="button" class="close" data-dismiss="modal" aria-hidden="true"&gt;&times;&lt;/button&gt;
							&lt;h3>Modal header&lt;/h3&gt;
							&lt;/div&gt;
							&lt;div class="modal-body"&gt;
							&lt;p>One fine body ...&lt;/p&gt;
							&lt;/div&gt;
							&lt;div class="modal-footer"&gt;
							&lt;a href="#" class="btn btn-default"&gt;Close&lt;/a&gt;
							&lt;a href="#" class="btn btn-primary"&gt;Save changes&lt;/a&gt;
							&lt;/div&gt;
							&lt;/div&gt;
						</pre>
						<!-- // Code sample END -->

					</div>
				</div>

			</div>
			<div class="span6">
				<div class="widget widget-heading-simple widget-body-white">
					<div class="widget-head"><h4 class="heading strong"><i class="icon-info-sign"></i> Modal &amp; Loading content with AJAX on open</h4></div>
					<div class="widget-body">
						
						<!-- Code sample -->
						<pre class="prettyprint margin-none">
							$('#myModal').on('shown', function()
							{
							var modal = $(this);
							// load content with AJAX
							$.ajax({
							url: '/path/to/your/content/file',
							success: function(data){
							modal.find('.modal-body').html(data);
						}
					});
				});
			</pre>
			<!-- // Code sample END -->	

			<p class="innerT"><span class="label">Note:</span> Other events that you can use to hook with modals: <span class="strong">show, hide, hidden</span>.</p>
		</div>
	</div>
</div>
</div>

<div class="widget widget-heading-simple widget-body-white">
	<div class="widget-head"><h4 class="heading strong"><i class="icon-info-sign"></i> Activate a modal without JavaScript</h4></div>
	<div class="widget-body">
		
		<!-- Code sample -->
		<pre class="prettyprint margin-none">
			&lt;!-- To Open the Modal, add the HTML5 attribute data-toggle="modal" and data-target="#modalID" to any element --&gt;
			&lt;a href="#myModal" data-toggle="modal" class="btn btn-primary"&gt;Open Modal&lt;/a&gt;
			&lt;button type="button" data-target="#myModal" data-toggle="modal" class="btn btn-primary"&gt;Open Modal&lt;/button&gt;
		</pre>
		<!-- // Code sample END -->

	</div>
</div>

<p class="separator text-center"><i class="icon-ellipsis-horizontal icon-3x"></i></p>
<h3 class="separator top">BootBox <span>Manage modals with JavaScript API</span></h3>

<!-- BootBox Options -->
<table class="table table-bordered table-vertical-center table-striped">
	<tbody>
		<tr>
			<td class="center"><button id="modals-bootbox-alert" class="btn btn-primary btn-block">Alert</button></td>
			<td class="center"><button id="modals-bootbox-confirm" class="btn btn-primary btn-block">Confirm</button></td>
			<td class="center"><button id="modals-bootbox-prompt" class="btn btn-primary btn-block">Prompt</button></td>
			<td class="center"><button id="modals-bootbox-custom" class="btn btn-primary btn-block">Custom Dialog</button></td>
		</tr>
	</tbody>
</table>
<div class="separator bottom"></div>
<!-- // BootBox Options END -->

<!-- Code sample -->
<div class="widget widget-heading-simple widget-body-gray">
	<div class="widget-head"><h4 class="heading">Alert</h4></div>
	<div class="widget-body">
		<pre class="prettyprint">
			bootbox.alert("Hello World!", function(result) 
			{
			$.gritter.add({
			title: 'Callback!',
			text: "I'm just a BootBox Alert callback!"
		});
	});
</pre>
</div>
</div>
<!-- // Code sample END -->

<!-- Code sample -->
<div class="widget widget-heading-simple widget-body-white">
	<div class="widget-head"><h4 class="heading">Confirm</h4></div>
	<div class="widget-body">
		<pre class="prettyprint">
			bootbox.confirm("Are you sure?", function(result) 
			{
			$.gritter.add({
			title: 'Callback!',
			text: "BootBox Confirm Callback with result: "+ result
		});
	});
</pre>
</div>
</div>
<!-- // Code sample END -->

<!-- Code sample -->
<div class="widget widget-heading-simple widget-body-gray">
	<div class="widget-head"><h4 class="heading">Prompt</h4></div>
	<div class="widget-body">
		<pre class="prettyprint">
			bootbox.prompt("What is your name?", function(result) 
			{                
			if (result === null) {                                             
			$.gritter.add({
			title: 'Callback!',
			text: "BootBox Prompt Dismissed!"
		});                            
	} else {
	$.gritter.add({
	title: 'Hi ' + result,
	text: "BootBox Prompt Callback with result: "+ result
});                          
}
});
</pre>
</div>
</div>
<!-- // Code sample END -->

<!-- Code sample -->
<div class="widget widget-heading-simple widget-body-white">
	<div class="widget-head"><h4 class="heading">Custom Dialog</h4></div>
	<div class="widget-body">
		<pre class="prettyprint">
			bootbox.dialog("I am a custom dialog", [{
			"label" : "Success!",
			"class" : "btn-success",
			"callback": function() {
			$.gritter.add({
			title: 'Callback!',
			text: "Great success"
		});
	}
}, {
"label" : "Danger!",
"class" : "btn-danger",
"callback": function() {
$.gritter.add({
title: 'Callback!',
text: "Uh oh, look out!"
});
}
}, {
"label" : "Click ME!",
"class" : "btn-primary",
"callback": function() {
$.gritter.add({
title: 'Callback!',
text: "Primary button!"
});
}
}, {
"label" : "Just a button..."
}]);
</pre>
</div>
</div>
<!-- // Code sample END -->

</div>

<!-- Modal -->
<div class="modal hide fade" id="modal-simple">
	
	<!-- Modal heading -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Modal header</h3>
	</div>
	<!-- // Modal heading END -->
	
	<!-- Modal body -->
	<div class="modal-body">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
	<!-- // Modal body END -->
	
	<!-- Modal footer -->
	<div class="modal-footer">
		<a href="#" class="btn btn-default" data-dismiss="modal">Close</a> 
		<a href="#" data-dismiss="modal" class="btn btn-primary">Save changes</a>
	</div>
	<!-- // Modal footer END -->
	
</div>
<!-- // Modal END -->

<!-- Modal -->
<div class="modal modal-inverse hide fade" id="modal-simple-inverse">
	
	<!-- Modal heading -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Modal header</h3>
	</div>
	<!-- // Modal heading END -->
	
	<!-- Modal body -->
	<div class="modal-body">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
	<!-- // Modal body END -->
	
	<!-- Modal footer -->
	<div class="modal-footer">
		<a href="#" class="btn btn-default" data-dismiss="modal">Close</a> 
		<a href="#" data-dismiss="modal" class="btn btn-primary">Save changes</a>
	</div>
	<!-- // Modal footer END -->
	
</div>
<!-- // Modal END -->

<!-- Modal -->
<div class="modal modal-info hide fade" id="modal-simple-info">
	
	<!-- Modal heading -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Modal header</h3>
	</div>
	<!-- // Modal heading END -->
	
	<!-- Modal body -->
	<div class="modal-body">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
	<!-- // Modal body END -->
	
	<!-- Modal footer -->
	<div class="modal-footer">
		<a href="#" class="btn btn-default" data-dismiss="modal">Close</a> 
		<a href="#" data-dismiss="modal" class="btn btn-inverse">Save changes</a>
	</div>
	<!-- // Modal footer END -->
	
</div>
<!-- // Modal END -->

<!-- Modal -->
<div class="modal modal-primary hide fade" id="modal-simple-primary">
	
	<!-- Modal heading -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Modal header</h3>
	</div>
	<!-- // Modal heading END -->
	
	<!-- Modal body -->
	<div class="modal-body">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
	<!-- // Modal body END -->
	
	<!-- Modal footer -->
	<div class="modal-footer">
		<a href="#" class="btn btn-default" data-dismiss="modal">Close</a> 
		<a href="#" data-dismiss="modal" class="btn btn-inverse">Save changes</a>
	</div>
	<!-- // Modal footer END -->
	
</div>
<!-- // Modal END -->

<!-- Modal -->
<div class="modal modal-success hide fade" id="modal-simple-success">
	
	<!-- Modal heading -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Modal header</h3>
	</div>
	<!-- // Modal heading END -->
	
	<!-- Modal body -->
	<div class="modal-body">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
	<!-- // Modal body END -->
	
	<!-- Modal footer -->
	<div class="modal-footer">
		<a href="#" class="btn btn-default" data-dismiss="modal">Close</a> 
		<a href="#" data-dismiss="modal" class="btn btn-inverse">Save changes</a>
	</div>
	<!-- // Modal footer END -->
	
</div>
<!-- // Modal END -->

<!-- Modal -->
<div class="modal modal-warning hide fade" id="modal-simple-warning">
	
	<!-- Modal heading -->
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Modal header</h3>
	</div>
	<!-- // Modal heading END -->
	
	<!-- Modal body -->
	<div class="modal-body">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
	<!-- // Modal body END -->
	
	<!-- Modal footer -->
	<div class="modal-footer">
		<a href="#" class="btn btn-default" data-dismiss="modal">Close</a> 
		<a href="#" data-dismiss="modal" class="btn btn-inverse">Save changes</a>
	</div>
	<!-- // Modal footer END -->
	
</div>
<!-- // Modal END -->