	<ul class="breadcrumb">
	<li>You are here</li>
	<li><a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-default-menus-dark&amp;sidebar_type=collapsible" class="glyphicons dashboard"><i></i> Reputer</a></li>
	<li class="divider"><i class="icon-caret-right"></i></li>
	<li>Components</li>
	<li class="divider"><i class="icon-caret-right"></i></li>
	<li>Pricing Tables</li>
</ul>

<h1>&nbsp;&nbsp;Pricing tables</h1>
<div class="innerLR">

	<!-- Pricing table -->
	<div class="relativeWrap" data-toggle="source-code" data-placement="outside">
	<table class="table table-white table-bordered table-vertical-center table-pricing">
	
		<!-- Table heading -->
		<thead>
			<tr>
				<th class="center heading">Choose your plan</th>
				<th class="center" style="width: 15%">
					<span class="plan">Free</span>
					<span class="price">&dollar;0.00</span>
					<div class="separator bottom"></div>
					<button class="btn btn-primary btn-block">Sign up</button>
				</th>
				<th class="center" style="width: 15%">
					<span class="plan">Bronze</span>
					<span class="price">&dollar;9.99</span>
					<div class="separator bottom"></div>
					<button class="btn btn-primary btn-block">Sign up</button>
				</th>
				<th class="center" style="width: 15%">
					<span class="plan">Silver</span>
					<span class="price">&dollar;19.99</span>
					<div class="separator bottom"></div>
					<button class="btn btn-primary btn-block">Sign up</button>
				</th>
				<th class="center" style="width: 15%">
					<span class="plan">Gold</span>
					<span class="price">&dollar;49.99</span>
					<div class="separator bottom"></div>
					<button class="btn btn-primary btn-block">Sign up</button>
				</th>
			</tr>
		</thead>
		<!-- // Table heading END -->
		
		<!-- Table body -->
		<tbody>
		
			<!-- Table row -->
			<tr>
				<td>Setup &amp; Installation</td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
			</tr>
			<!-- // Table row END -->
			
			<!-- Table row -->
			<tr>
				<td>HTML Templates</td>
				<td class="center"><span class="glyphicons standard remove_2"><i></i></span></td>
				<td class="center"><span class="glyphicons standard remove_2"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
			</tr>
			<!-- // Table row END -->
			
			<!-- Table row -->
			<tr>
				<td>SMS Templates</td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
			</tr>
			<!-- // Table row END -->
			
			<!-- Table row -->
			<tr>
				<td>API Included</td>
				<td class="center"><span class="glyphicons standard remove_2"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
			</tr>
			<!-- // Table row END -->
			
			<!-- Table row -->
			<tr>
				<td>Tracking System</td>
				<td class="center">Basic Tracking</td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
				<td class="center"><span class="glyphicons standard circle_ok"><i></i></span></td>
			</tr>
			<!-- // Table row END -->
			
		</tbody>
		<!-- // Table body END -->
		
	</table>
	</div>
	<div class="separator bottom"></div>
	<!-- // Pricing table END -->
	
	<p class="separator text-center"><i class="icon-table icon-3x"></i></p>
	<div class="separator bottom"></div>
	
	<!-- Pricing table -->
	<div class="relativeWrap" data-toggle="source-code" data-placement="outside">
	<table class="table table-bordered table-vertical-center table-pricing table-pricing-2">
	
		<!-- Table heading -->
		<thead>
			<tr>
				<th class="center">Free Plan</th>
				<th class="center">Bronze Plan</th>
				<th class="center">Silver Plan</th>
				<th class="center">Gold Plan</th>
			</tr>
		</thead>
		<!-- // Table heading END -->
		
		<!-- Table body -->
		<tbody>
		
			<!-- Table pricing row -->
			<tr class="pricing">
				<td class="center">
					<span class="price">&dollar;0.00</span>
					<span>per month</span>
				</td>
				<td class="center">
					<span class="price">&dollar;9.99</span>
					<span>per month</span>
				</td>
				<td class="center">
					<span class="price">&dollar;19.99</span>
					<span>per month</span>
				</td>
				<td class="center">
					<span class="price">&dollar;49.99</span>
					<span>per month</span>
				</td>
			</tr>
			<!-- // Table pricing row END -->
			
			<!-- Table row -->
			<tr>
				<td class="center">
					Setup &amp; Installation<br/>
					HTML Templates<br/>
					SMS Templates<br/>
					API Included<br/>
					Tracking system
					<div class="separator bottom"></div>
					<button class="btn btn-primary">Sign up</button>
				</td>
				<td class="center">
					Setup &amp; Installation<br/>
					HTML Templates<br/>
					SMS Templates<br/>
					API Included<br/>
					Tracking system
					<div class="separator bottom"></div>
					<button class="btn btn-primary">Sign up</button>
				</td>
				<td class="center">
					Setup &amp; Installation<br/>
					HTML Templates<br/>
					SMS Templates<br/>
					API Included<br/>
					Tracking system
					<div class="separator bottom"></div>
					<button class="btn btn-primary">Sign up</button>
				</td>
				<td class="center">
					Setup &amp; Installation<br/>
					HTML Templates<br/>
					SMS Templates<br/>
					API Included<br/>
					Tracking system
					<div class="separator bottom"></div>
					<button class="btn btn-primary">Sign up</button>
				</td>
			</tr>
			<!-- // Table row END -->
			
		</tbody>
		<!-- // Table body END -->
		
	</table>
	</div>
	<div class="separator bottom"></div>
	<!-- // Pricing table END -->
	
</div>