<div class="innerLR innerT">
<div ng-init="itemsPerPage = 15">
                        <h3>Review Changes</h3>
                <br>
                <table class="crawltable footable table table-striped table-bordered table-white table-primary">
                        
                        <!-- Table heading -->
                        <thead>
                                        <tr>
                                            <th ng-click="sort_by('source')">Logos&nbsp;<i class="icon-sort"></i></th>
                                            <th ng-click="sort_by('author')">Author&nbsp;<i class="icon-sort"></i></th>
                                            <th ng-click="sort_by('review_date')">Date&nbsp;<i class="icon-sort"></i></th>
                                            <th ng-click="sort_by('rating')">Rating&nbsp;<i class="icon-sort"></i></th>
                                            <th ng-click="sort_by('review_title')">Title&nbsp;<i class="icon-sort"></i></th>
                                            <th ng-click="sort_by('review_text')">Text&nbsp;<i class="icon-sort"></i></th>
                                            <th>Type&nbsp;</th>
                                            
                                        </tr>
                                </thead>        
                        <!-- // Table heading END -->
                        
                        <!-- Table body -->
                        <tfoot>
                <td colspan="8">
                    <div class="pagination pull-right">
                        <ul>
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
                        <tbody>
                                
                                <!-- Table row -->
                                <tr ng-repeat="result in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-hide="result.hide">
                                        <td><a href="http://{{result.domain}}"><img src="http://www.reputer.co/new/img/logos/{{result.source}}.png"></img></td>
                                        <td><a href="http://{{result.author_url}}">{{result.author}}</a></td>
                                        <td>{{result.review_date}}</td>
                                        <td>{{result.rating}}</td>
                                        <td>{{result.review_title}}</td>
                                        <td>{{result.review_text}}</td>
                                        <td style="text-align:center"><span class="label label-success">{{result.changetype}}</span></td>
                                        
                                </tr>
                                <!-- // Table row END -->
                                
                        </tbody>
                        <!-- // Table body END -->
                        
                </table>

                </div>
</div>