<div class="innerLR innerT">
<div ng-init="itemsPerPage = 15">
                        <h3>Review Changes</h3>
                        <div class="widget-search form-inline">
            <button type="button" class="btn btn-primary pull-right">Search <i class="icon-search"></i></button>
            <div class="overflow-hidden">
                <input type="text" ng-model="query" ng-change="search()" class="input-large search-query" placeholder="Search">
            </div>
        </div>
                <br>
                <table class="crawltable table table-striped table-bordered table-white table-responsive swipe-horizontal table-primary">
                        
                        <!-- Table heading -->
                        <thead>
                                        <tr>
                                            <th ng-click="sort_by('source')" class="crawlth">Site&nbsp;<i class="icon-sort"></i></th>
                                            <th ng-click="sort_by('review_text')">Review&nbsp;<i class="icon-sort"></i></th>
                                            <th ng-click="sort_by('rating')">Rating&nbsp;<i class="icon-sort"></i></th>
                                            <th ng-click="sort_by('author')">Author&nbsp;<i class="icon-sort"></i></th>
                                            <th ng-click="sort_by('review_date')">Date&nbsp;<i class="icon-sort"></i></th>
                                            <th ng-click="sort_by('review_title')">Title&nbsp;<i class="icon-sort"></i></th>
                                        </tr>
                                </thead>        
                        <!-- // Table heading END -->
                        
                        <!-- Table body -->
                        
                        <tbody>
                                
                                <!-- Table row -->
                                <tr ng-repeat="result in pagedItems[currentPage] | orderBy:sortingOrder:reverse" ng-hide="result.hide">
                                        <td><span class="label label-success pull-right type1">{{result.changetype}}</span><a href="{{result.URL}}" ><img class="crawimg" ng-src="http://www.reputer.co/new/img/logos/{{result.source}}.png"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-success type2">{{result.changetype}}</span></td>
                                        <td>{{result.review_text}}</td>
                                        <td>{{result.rating}}</td>
                                        <td><a href="http://{{result.author_url}}">{{result.author}}</a></td>
                                        <td>{{result.review_date}}</td>
                                        <td>{{result.review_title}}</td>
                                </tr>
                                <!-- // Table row END -->
                                
                        </tbody>
                        <!-- // Table body END -->
                        
                </table>
                 <div class="pagination pull-right">
                        <ul>
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">« Prev</a>
                            </li>
                            <li ng-repeat="n in range(pagedItems.length)"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">Next »</a>
                            </li>
                        </ul>
                    </div>
                </div>
</div>